.result-view {
  width: 70%;
  padding: 20px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-view-list {
  width: 100%;
  list-style-type: none;
  display: inherit;
  flex-direction: column;
  padding: 20px;
  font-size: 14px;
}

.result-view-list .key {
  font-weight: bold;
}

.result-view-list .value {
  float: right;
}

.button-container {
  width: 100%;
}

/* Laptops + */
@media (min-width: 1025px) {
  .result-view {
    width: 40%;
  }

  .result-view > .button-container > button {
    width: 100%;
  }
}

/* Tablets  */
@media screen and (min-width: 600px) and (max-width: 1024px),
  screen and (min-width: 600px) and (max-width: 1024px) and (orientation: landscape) {
  .result-view {
    width: 40%;
  }

  .result-view > .button-container > button {
    width: 100%;
  }
}
