.button-invisible {
  visibility: hidden;
}

button,
input[type="submit"] {
  padding: 10px 30px;
  box-shadow: 0px 2px 10px 1px #EAEAEA;
  /* border: 2px solid #595959; */
  border: none;
  background: white;
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
}

.button-back {
  padding: 0px;
  box-shadow: none;
}

.button-next,
.button-next-submit {
  float: right;
}

input[type="submit"]:disabled,
button:disabled {
  background: #EAEAEA;
}


/* 
  Phones
*/
@media screen and (max-width: 599px) and (orientation: portrait),
  screen and (max-device-width: 767px) and (orientation: landscape) {
  button,
  input[type="submit"] {
    width: 100%;
  }

  .button-back {
    width: auto;
  }
}
