.sequence-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  padding: 20px;
  min-height: 250px;
}

.button-container {
  margin-bottom: 20px;
}

